@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-literata: 'Literata', Georgia, 'Times New Roman', serif;
  --font-libre-baskerville: 'Libre Baskerville', Georgia, 'Times New Roman', serif;
  --font-cormorant-garamond: 'Space Grotesk', sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-libre-baskerville);
  font-display: swap; /* Ensures smooth font swapping */

  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0;
}


.rotate {
  transition: transform 0.3s ease;
}

.rotate:hover {
  transform: rotate(90deg);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

#footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  display: inline-block;
  margin: 12px 24px;
}

.big {
  font-size: 1.25em;
}

.spacer {
  height: 72px;
}

.text-spacer {
  height: 24px;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  width: 50%;
}

.logo-small img {
  width: 25%;
}

#footer {
  margin: auto;
  text-align: center;
}


.light {
  opacity: 50%;
}




.avatar_size {
  width: 50px;
  height: 50px;

  @screen md {
    width: 80px;
    height: 80px;
  }  
}

.description {
  padding: 0 24px 24px 24px;
  text-align: center;
}
